In [ ]:
  import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
drug = pd.read_csv('/content/DRUG18Q1.csv',sep = '$')
drug.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686461 entries, 0 to 1686460
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   primaryid      1686461 non-null  int64
 1   caseid         1686461 non-null  int64
 2   drug_seq       1686461 non-null  int64
 3   role_cod       1686461 non-null  object
 4   drugname       1686450 non-null  object
 5   prod_ai        1657701 non-null  object
 6   val_vbm        1686461 non-null  int64
 7   route          1276188 non-null  object
 8   dose_vbm       1031178 non-null  object
 9   cum_dose_chr   39722 non-null    float64
 10  cum_dose_unit  39729 non-null    object
 11  dechal         935407 non-null   object
 12  rechal         272520 non-null   object
 13  lot_num        238730 non-null   object
 14  exp_dt         5152 non-null     object
 15  nda_num        513681 non-null   float64
 16  dose_amt       614918 non-null   float64
 17  dose_unit      614918 non-null   object
 18  dose_form      743193 non-null   object
 19  dose_freq      395161 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 257.3+ MB

In [ ]:
drug = drug.drop_duplicates(subset= 'primaryid')
drug.info()
drug

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412702 entries, 0 to 1686458
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   primaryid      412702 non-null  int64
 1   caseid         412702 non-null  int64
 2   drug_seq       412702 non-null  int64
 3   role_cod       412702 non-null  object
 4   drugname       412702 non-null  object
 5   prod_ai        412695 non-null  object
 6   val_vbm        412702 non-null  int64
 7   route          362130 non-null  object
 8   dose_vbm       277167 non-null  object
 9   cum_dose_chr   12309 non-null   float64
 10  cum_dose_unit  12311 non-null   object
 11  dechal         288564 non-null  object
 12  rechal         114295 non-null  object
 13  lot_num        130382 non-null  object
 14  exp_dt         4780 non-null    object
 15  nda_num        359771 non-null  float64
 16  dose_amt       218838 non-null  float64
 17  dose_unit      218838 non-null  object
 18  dose_form      303303 non-null  object
 19  dose_freq      161001 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 66.1+ MB

         primaryid    caseid  ...                         dose_form dose_freq
0        100035813  10003581  ...                            TABLET       BID
8        100048965  10004896  ...                               NaN       NaN
16       100054258  10005425  ...                           CAPSULE       BID
19       100058884  10005888  ...                          SOLUTION        QD
43       100060834  10006083  ...          SUSPENSION FOR INJECTION       NaN
...            ...       ...  ...                               ...       ...
1686440   99965822   9996582  ...            SOLUTION FOR INJECTION       NaN
1686442   99979614   9997961  ...                               NaN       NaN
1686446   99991303   9999130  ...            SOLUTION FOR INJECTION       NaN
1686447  999913117   9999131  ...            SOLUTION FOR INJECTION       NaN
1686458   99994482   9999448  ...  POWDER FOR SOLUTION FOR INFUSION       QOW

[412702 rows x 20 columns]

In [ ]:
outcome = pd.read_csv('/content/OUTC18Q1.csv',sep = '$')
outcome.info()

FileNotFoundError: ignored

In [ ]:
reaction= pd.read_csv('/content/REAC18Q1.csv',sep='$')
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206259 entries, 0 to 1206258
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   primaryid     1206259 non-null  int64
 1   caseid        1206259 non-null  int64
 2   pt            1206259 non-null  object
 3   drug_rec_act  2844 non-null     object
dtypes: int64(2), object(2)
memory usage: 36.8+ MB

In [ ]:
reaction = reaction.drop_duplicates(subset= 'primaryid')
reaction

         primaryid    caseid                           pt drug_rec_act
0        100035813  10003581         Blood count abnormal          NaN
2        100048965  10004896        Drug hypersensitivity          NaN
3        100054258  10005425      Acute coronary syndrome          NaN
7        100058884  10005888  Acute myocardial infarction          NaN
27       100060834  10006083          Psychiatric symptom          NaN
...            ...       ...                          ...          ...
1206248   99965822   9996582          Metastatic neoplasm          NaN
1206250   99979614   9997961    Cardio-respiratory arrest          NaN
1206254   99991303   9999130                    Pneumonia          NaN
1206255  999913117   9999131         Basal cell carcinoma          NaN
1206257   99994482   9999448               Prostatomegaly          NaN

[412702 rows x 4 columns]

In [ ]:
demographic = pd.read_csv('/content/DEMO18Q1_new.csv',sep='$')
demographic.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412702 entries, 0 to 412701
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         412702 non-null  int64
 1   caseid            412702 non-null  int64
 2   caseversion       412702 non-null  int64
 3   i_f_code          412702 non-null  object
 4   event_dt          211550 non-null  float64
 5   mfr_dt            391711 non-null  float64
 6   init_fda_dt       412702 non-null  int64
 7   fda_dt            412702 non-null  int64
 8   rept_cod          412702 non-null  object
 9   auth_num          14188 non-null   object
 10  mfr_num           391713 non-null  object
 11  mfr_sndr          412701 non-null  object
 12  lit_ref           21886 non-null   object
 13  age               228738 non-null  float64
 14  age_cod           228738 non-null  object
 15  age_grp           86890 non-null   object
 16  sex               350236 non-null  object
 17  e_sub             412702 non-null  object
 18  wt                79134 non-null   float64
 19  wt_cod            79134 non-null   object
 20  rept_dt           412404 non-null  float64
 21  to_mfr            20998 non-null   object
 22  occp_cod          407322 non-null  object
 23  reporter_country  412700 non-null  object
 24  occr_country      412688 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 78.7+ MB

In [ ]:
demographic = demographic.drop_duplicates(subset= 'primaryid')
demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412702 entries, 0 to 412701
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         412702 non-null  int64
 1   caseid            412702 non-null  int64
 2   caseversion       412702 non-null  int64
 3   i_f_code          412702 non-null  object
 4   event_dt          211550 non-null  float64
 5   mfr_dt            391711 non-null  float64
 6   init_fda_dt       412702 non-null  int64
 7   fda_dt            412702 non-null  int64
 8   rept_cod          412702 non-null  object
 9   auth_num          14188 non-null   object
 10  mfr_num           391713 non-null  object
 11  mfr_sndr          412701 non-null  object
 12  lit_ref           21886 non-null   object
 13  age               228738 non-null  float64
 14  age_cod           228738 non-null  object
 15  age_grp           86890 non-null   object
 16  sex               350236 non-null  object
 17  e_sub             412702 non-null  object
 18  wt                79134 non-null   float64
 19  wt_cod            79134 non-null   object
 20  rept_dt           412404 non-null  float64
 21  to_mfr            20998 non-null   object
 22  occp_cod          407322 non-null  object
 23  reporter_country  412700 non-null  object
 24  occr_country      412688 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 81.9+ MB

In [ ]:
print(demographic.var())

primaryid      4.655887e+15
caseid         3.356955e+11
caseversion    2.180579e+00
event_dt       9.566904e+13
mfr_dt         6.803958e+07
init_fda_dt    3.622805e+07
fda_dt         6.946449e+03
age            2.164747e+06
wt             7.396981e+02
rept_dt        1.189556e+10
dtype: float64

In [ ]:
from collections import Counter
c = Counter(reaction['pt'])
c.most_common(5)
print ("",c.most_common(5))

 [('Drug ineffective', 19563), ('Death', 17346), ('Toxicity to various agents', 9383), ('Drug dose omission', 9201), ('Alopecia', 9078)]

In [ ]:
demo = demographic[["primaryid","age","sex","wt","occr_country"]]
demo

        primaryid   age  sex     wt occr_country
0       100035813   NaN  NaN    NaN           US
1       100048965  64.0    F    NaN           US
2       100054258  71.0    M   59.0           JP
3       100058884  54.0    M  108.0           US
4       100060834   NaN    F    NaN           US
...           ...   ...  ...    ...          ...
412697   99965822  75.0    M    NaN           GB
412698   99979614  50.0    M    NaN           DE
412699   99991303  66.0    F    NaN           CA
412700  999913117  53.0    M    NaN           US
412701   99994482  64.0    M    NaN           US

[412702 rows x 5 columns]

In [ ]:
drug1 = drug[["primaryid","dechal","rechal","drugname"]]
drug1

         primaryid          drugname
0        100035813            JAKAFI
8        100048965          DILANTIN
16       100054258           TASIGNA
19       100058884            AXIRON
43       100060834  ABILIFY MAINTENA
...            ...               ...
1686440   99965822            HUMIRA
1686442   99979614        CETUXIMAB.
1686446   99991303           STELARA
1686447  999913117           STELARA
1686458   99994482          LUMIZYME

[412702 rows x 2 columns]

In [ ]:
react = reaction[["primaryid","pt"]]
react

         primaryid                           pt
0        100035813         Blood count abnormal
2        100048965        Drug hypersensitivity
3        100054258      Acute coronary syndrome
7        100058884  Acute myocardial infarction
27       100060834          Psychiatric symptom
...            ...                          ...
1206248   99965822          Metastatic neoplasm
1206250   99979614    Cardio-respiratory arrest
1206254   99991303                    Pneumonia
1206255  999913117         Basal cell carcinoma
1206257   99994482               Prostatomegaly

[412702 rows x 2 columns]