In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
drug = pd.read_csv('/content/DRUG18Q1.csv',sep = '$')
drug.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686461 entries, 0 to 1686460
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   primaryid      1686461 non-null  int64
 1   caseid         1686461 non-null  int64
 2   drug_seq       1686461 non-null  int64
 3   role_cod       1686461 non-null  object
 4   drugname       1686450 non-null  object
 5   prod_ai        1657701 non-null  object
 6   val_vbm        1686461 non-null  int64
 7   route          1276188 non-null  object
 8   dose_vbm       1031178 non-null  object
 9   cum_dose_chr   39722 non-null    float64
 10  cum_dose_unit  39729 non-null    object
 11  dechal         935407 non-null   object
 12  rechal         272520 non-null   object
 13  lot_num        238730 non-null   object
 14  exp_dt         5152 non-null     object
 15  nda_num        513681 non-null   float64
 16  dose_amt       614918 non-null   float64
 17  dose_unit      614918 non-null   object
 18  dose_form      743193 non-null   object
 19  dose_freq      395161 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 257.3+ MB

In [ ]:
drug.head(20)

    primaryid    caseid  drug_seq  ... dose_unit             dose_form dose_freq
0   100035813  10003581         1  ...        MG                TABLET       BID
1   100035813  10003581         2  ...        MG                TABLET       BID
2   100035813  10003581         3  ...        MG                TABLET       BID
3   100035813  10003581         4  ...       NaN                   NaN       NaN
4   100035813  10003581         5  ...       NaN                   NaN       NaN
5   100035813  10003581         6  ...       NaN                   NaN       NaN
6   100035813  10003581         7  ...       NaN                   NaN       NaN
7   100035813  10003581         8  ...       NaN                   NaN       NaN
8   100048965  10004896         1  ...       NaN                   NaN       NaN
9   100048965  10004896         2  ...       NaN                   NaN       NaN
10  100048965  10004896         3  ...       NaN                   NaN       NaN
11  100048965  10004896         4  ...       NaN                   NaN       NaN
12  100048965  10004896         5  ...       NaN                   NaN       NaN
13  100048965  10004896         6  ...       NaN                   NaN       NaN
14  100048965  10004896         7  ...       NaN                   NaN       NaN
15  100048965  10004896         8  ...       NaN                   NaN       NaN
16  100054258  10005425         1  ...        MG               CAPSULE       BID
17  100054258  10005425         2  ...        MG                TABLET        QD
18  100054258  10005425         3  ...        MG  SLOW RELEASE GRANULE        QD
19  100058884  10005888         1  ...        MG              SOLUTION        QD

[20 rows x 20 columns]

# Mục mới

In [ ]:
drug = drug.drop_duplicates(subset= 'primaryid')
drug.info()
drug

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412702 entries, 0 to 1686458
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   primaryid      412702 non-null  int64
 1   caseid         412702 non-null  int64
 2   drug_seq       412702 non-null  int64
 3   role_cod       412702 non-null  object
 4   drugname       412702 non-null  object
 5   prod_ai        412695 non-null  object
 6   val_vbm        412702 non-null  int64
 7   route          362130 non-null  object
 8   dose_vbm       277167 non-null  object
 9   cum_dose_chr   12309 non-null   float64
 10  cum_dose_unit  12311 non-null   object
 11  dechal         288564 non-null  object
 12  rechal         114295 non-null  object
 13  lot_num        130382 non-null  object
 14  exp_dt         4780 non-null    object
 15  nda_num        359771 non-null  float64
 16  dose_amt       218838 non-null  float64
 17  dose_unit      218838 non-null  object
 18  dose_form      303303 non-null  object
 19  dose_freq      161001 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 66.1+ MB

         primaryid    caseid  ...                         dose_form dose_freq
0        100035813  10003581  ...                            TABLET       BID
8        100048965  10004896  ...                               NaN       NaN
16       100054258  10005425  ...                           CAPSULE       BID
19       100058884  10005888  ...                          SOLUTION        QD
43       100060834  10006083  ...          SUSPENSION FOR INJECTION       NaN
...            ...       ...  ...                               ...       ...
1686440   99965822   9996582  ...            SOLUTION FOR INJECTION       NaN
1686442   99979614   9997961  ...                               NaN       NaN
1686446   99991303   9999130  ...            SOLUTION FOR INJECTION       NaN
1686447  999913117   9999131  ...            SOLUTION FOR INJECTION       NaN
1686458   99994482   9999448  ...  POWDER FOR SOLUTION FOR INFUSION       QOW

[412702 rows x 20 columns]

In [ ]:
reaction= pd.read_csv('/content/REAC18Q1.csv',sep='$')
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206259 entries, 0 to 1206258
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   primaryid     1206259 non-null  int64
 1   caseid        1206259 non-null  int64
 2   pt            1206259 non-null  object
 3   drug_rec_act  2844 non-null     object
dtypes: int64(2), object(2)
memory usage: 36.8+ MB

In [ ]:
reaction = reaction.drop_duplicates(subset= 'primaryid')
reaction

         primaryid    caseid                           pt drug_rec_act
0        100035813  10003581         Blood count abnormal          NaN
2        100048965  10004896        Drug hypersensitivity          NaN
3        100054258  10005425      Acute coronary syndrome          NaN
7        100058884  10005888  Acute myocardial infarction          NaN
27       100060834  10006083          Psychiatric symptom          NaN
...            ...       ...                          ...          ...
1206248   99965822   9996582          Metastatic neoplasm          NaN
1206250   99979614   9997961    Cardio-respiratory arrest          NaN
1206254   99991303   9999130                    Pneumonia          NaN
1206255  999913117   9999131         Basal cell carcinoma          NaN
1206257   99994482   9999448               Prostatomegaly          NaN

[412702 rows x 4 columns]

In [ ]:
demographic = pd.read_csv('/content/DEMO18Q1.csv',sep='$')
demographic.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412702 entries, 0 to 412701
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         412702 non-null  int64
 1   caseid            412702 non-null  int64
 2   caseversion       412702 non-null  int64
 3   i_f_code          412702 non-null  object
 4   event_dt          211550 non-null  float64
 5   mfr_dt            391711 non-null  float64
 6   init_fda_dt       412702 non-null  int64
 7   fda_dt            412702 non-null  int64
 8   rept_cod          412702 non-null  object
 9   auth_num          14188 non-null   object
 10  mfr_num           391713 non-null  object
 11  mfr_sndr          412701 non-null  object
 12  lit_ref           21886 non-null   object
 13  age               228738 non-null  float64
 14  age_cod           228738 non-null  object
 15  age_grp           86890 non-null   object
 16  sex               350236 non-null  object
 17  e_sub             412702 non-null  object
 18  wt                79134 non-null   float64
 19  wt_cod            79134 non-null   object
 20  rept_dt           412404 non-null  float64
 21  to_mfr            20998 non-null   object
 22  occp_cod          407322 non-null  object
 23  reporter_country  412700 non-null  object
 24  occr_country      412688 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 78.7+ MB

In [ ]:
demographic.head(10)

   primaryid    caseid  ...       reporter_country occr_country
0  100035813  10003581  ...                     US           US
1  100048965  10004896  ...                     US           US
2  100054258  10005425  ...                     JP           JP
3  100058884  10005888  ...                     US           US
4  100060834  10006083  ...                     US           US
5  100065478  10006547  ...                     US           US
6  100066292  10006629  ...                     US           US
7  100071964  10007196  ...                     US           US
8  100100246  10010024  ...  COUNTRY NOT SPECIFIED           DE
9  100113852  10011385  ...                     US           US

[10 rows x 25 columns]

In [ ]:
demographic = demographic.drop_duplicates(subset= 'primaryid')
demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412702 entries, 0 to 412701
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         412702 non-null  int64
 1   caseid            412702 non-null  int64
 2   caseversion       412702 non-null  int64
 3   i_f_code          412702 non-null  object
 4   event_dt          211550 non-null  float64
 5   mfr_dt            391711 non-null  float64
 6   init_fda_dt       412702 non-null  int64
 7   fda_dt            412702 non-null  int64
 8   rept_cod          412702 non-null  object
 9   auth_num          14188 non-null   object
 10  mfr_num           391713 non-null  object
 11  mfr_sndr          412701 non-null  object
 12  lit_ref           21886 non-null   object
 13  age               228738 non-null  float64
 14  age_cod           228738 non-null  object
 15  age_grp           86890 non-null   object
 16  sex               350236 non-null  object
 17  e_sub             412702 non-null  object
 18  wt                79134 non-null   float64
 19  wt_cod            79134 non-null   object
 20  rept_dt           412404 non-null  float64
 21  to_mfr            20998 non-null   object
 22  occp_cod          407322 non-null  object
 23  reporter_country  412700 non-null  object
 24  occr_country      412688 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 81.9+ MB

In [ ]:
demographic['event_dt'].isnull().sum()

201152

In [ ]:
#mod_df['event_dt'] = mod_df['event_dt'].fillna(0)

In [ ]:
#mod_df['event_dt'] = demographic['event_dt'].dropna()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#perc = 25.0 
min_count =  int(((100-perc)/100)*demographic.shape[1] + 1)
mod_df = demographic.dropna( axis=0, 
                    thresh=min_count)

In [ ]:
#mod_df

        primaryid    caseid  ...       reporter_country occr_country
2       100054258  10005425  ...                     JP           JP
3       100058884  10005888  ...                     US           US
5       100065478  10006547  ...                     US           US
7       100071964  10007196  ...                     US           US
8       100100246  10010024  ...  COUNTRY NOT SPECIFIED           DE
...           ...       ...  ...                    ...          ...
412697   99965822   9996582  ...                     GB           GB
412698   99979614   9997961  ...                     DE           DE
412699   99991303   9999130  ...                     CA           CA
412700  999913117   9999131  ...                     US           US
412701   99994482   9999448  ...                     US           US

[195247 rows x 25 columns]

In [ ]:
#mod_df['event_dt'] = mod_df['event_dt'].astype(int)

In [ ]:
def by_size(words):
    return [word for word in words if word <9999]

In [ ]:
aaaa = by_size(demographic['event_dt'])

NameError: ignored

In [ ]:
demographic = demographic.drop(aaaa, axis=0)

KeyError: ignored

In [ ]:
demographic2 = demographic[demographic.event_dt >9999]

In [ ]:
demographic2

        primaryid    caseid  ...       reporter_country occr_country
0       100035813  10003581  ...                     US           US
2       100054258  10005425  ...                     JP           JP
5       100065478  10006547  ...                     US           US
7       100071964  10007196  ...                     US           US
8       100100246  10010024  ...  COUNTRY NOT SPECIFIED           DE
...           ...       ...  ...                    ...          ...
412694   99920095   9992009  ...                     JP           JP
412697   99965822   9996582  ...                     GB           GB
412698   99979614   9997961  ...                     DE           DE
412699   99991303   9999130  ...                     CA           CA
412700  999913117   9999131  ...                     US           US

[170901 rows x 25 columns]

In [ ]:
demographic['event_dt'] = pd.to_datetime(demographic2['event_dt'], format='%Y%m%d')
demographic

ValueError: ignored

In [ ]:
for val in numbers:
    leng4 = len(numbers) < 5
    

print("The sum is", sum)

In [ ]:

# converting the float to datetime format 
df['Dates'] = pd.to_datetime(df['Dates'], format='%Y%m%d') 
  
# printing dataframe 
print(df)
print()
  
print(df.dtypes)

KeyError: ignored

In [ ]:
demographic['event_dt'] = demographic['event_dt'].astype('datetime64[ns]')
demographic['event_dt']

0        1970-01-01 00:00:00.020140110
1                                  NaT
2        1970-01-01 00:00:00.020130701
3        1970-01-01 00:00:00.000002011
4        1970-01-01 00:00:00.000002014
                      ...
412697   1970-01-01 00:00:00.020131219
412698   1970-01-01 00:00:00.020110311
412699   1970-01-01 00:00:00.020120911
412700   1970-01-01 00:00:00.020120823
412701                             NaT
Name: event_dt, Length: 412646, dtype: datetime64[ns]

In [ ]:

demo['event_dt'] = pd.to_datetime(demographic['event_dt'], format='%Y%m%d',errors= True) 
demo['event_dt']

0        1970-01-01 00:00:00.020140110
1                                  NaT
2        1970-01-01 00:00:00.020130701
3        1970-01-01 00:00:00.000002011
4        1970-01-01 00:00:00.000002014
                      ...
412697   1970-01-01 00:00:00.020131219
412698   1970-01-01 00:00:00.020110311
412699   1970-01-01 00:00:00.020120911
412700   1970-01-01 00:00:00.020120823
412701                             NaT
Name: event_dt, Length: 412702, dtype: datetime64[ns]

In [ ]:
print(demographic.var())

primaryid      4.655887e+15
caseid         3.356955e+11
caseversion    2.180579e+00
event_dt       9.566904e+13
mfr_dt         6.803958e+07
init_fda_dt    3.622805e+07
fda_dt         6.946449e+03
age            2.164747e+06
wt             7.396981e+02
rept_dt        1.189556e+10
dtype: float64

In [ ]:
from collections import Counter
c = Counter(reaction['pt'])
c.most_common(5)
print ("",c.most_common(5))

 [('Drug ineffective', 19563), ('Death', 17346), ('Toxicity to various agents', 9383), ('Drug dose omission', 9201), ('Alopecia', 9078)]

In [ ]:
demo = demographic[["primaryid","event_dt","age","sex","wt","occr_country"]]
demo

        primaryid    event_dt   age  sex     wt occr_country
0       100035813  20140110.0   NaN  NaN    NaN           US
1       100048965         NaN  64.0    F    NaN           US
2       100054258  20130701.0  71.0    M   59.0           JP
3       100058884      2011.0  54.0    M  108.0           US
4       100060834      2014.0   NaN    F    NaN           US
...           ...         ...   ...  ...    ...          ...
412697   99965822  20131219.0  75.0    M    NaN           GB
412698   99979614  20110311.0  50.0    M    NaN           DE
412699   99991303  20120911.0  66.0    F    NaN           CA
412700  999913117  20120823.0  53.0    M    NaN           US
412701   99994482         NaN  64.0    M    NaN           US

[412702 rows x 6 columns]

In [ ]:
demo["event_dt"] = pd.to_datetime(demo['event_dt'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
demo

        primaryid                      event_dt   age  sex     wt occr_country
0       100035813 1970-01-01 00:00:00.020140110   NaN  NaN    NaN           US
1       100048965                           NaT  64.0    F    NaN           US
2       100054258 1970-01-01 00:00:00.020130701  71.0    M   59.0           JP
3       100058884 1970-01-01 00:00:00.000002011  54.0    M  108.0           US
4       100060834 1970-01-01 00:00:00.000002014   NaN    F    NaN           US
...           ...                           ...   ...  ...    ...          ...
412697   99965822 1970-01-01 00:00:00.020131219  75.0    M    NaN           GB
412698   99979614 1970-01-01 00:00:00.020110311  50.0    M    NaN           DE
412699   99991303 1970-01-01 00:00:00.020120911  66.0    F    NaN           CA
412700  999913117 1970-01-01 00:00:00.020120823  53.0    M    NaN           US
412701   99994482                           NaT  64.0    M    NaN           US

[412702 rows x 6 columns]

In [ ]:
drug1 = drug[["primaryid","dechal","rechal","drugname"]]
drug1

         primaryid          drugname
0        100035813            JAKAFI
8        100048965          DILANTIN
16       100054258           TASIGNA
19       100058884            AXIRON
43       100060834  ABILIFY MAINTENA
...            ...               ...
1686440   99965822            HUMIRA
1686442   99979614        CETUXIMAB.
1686446   99991303           STELARA
1686447  999913117           STELARA
1686458   99994482          LUMIZYME

[412702 rows x 2 columns]

In [ ]:
react = reaction[["primaryid","pt"]]
react

         primaryid                           pt
0        100035813         Blood count abnormal
2        100048965        Drug hypersensitivity
3        100054258      Acute coronary syndrome
7        100058884  Acute myocardial infarction
27       100060834          Psychiatric symptom
...            ...                          ...
1206248   99965822          Metastatic neoplasm
1206250   99979614    Cardio-respiratory arrest
1206254   99991303                    Pneumonia
1206255  999913117         Basal cell carcinoma
1206257   99994482               Prostatomegaly

[412702 rows x 2 columns]

In [ ]:
reaction = pd.concat([reaction, reactdummies], axis=1)
reaction

         primaryid    caseid  ... False True
0        100035813  10003581  ...     1    0
2        100048965  10004896  ...     1    0
3        100054258  10005425  ...     1    0
7        100058884  10005888  ...     1    0
27       100060834  10006083  ...     1    0
...            ...       ...  ...   ...  ...
1206248   99965822   9996582  ...     1    0
1206250   99979614   9997961  ...     1    0
1206254   99991303   9999130  ...     1    0
1206255  999913117   9999131  ...     1    0
1206257   99994482   9999448  ...     1    0

[412702 rows x 6 columns]

In [ ]:
reactiondrug = pd.merge(drug,reaction,left_on='primaryid',right_on='primaryid',how='left')
reactiondrug

        primaryid  caseid_x  ...                           pt drug_rec_act
0       100035813  10003581  ...         Blood count abnormal          NaN
1       100048965  10004896  ...        Drug hypersensitivity          NaN
2       100054258  10005425  ...      Acute coronary syndrome          NaN
3       100058884  10005888  ...  Acute myocardial infarction          NaN
4       100060834  10006083  ...          Psychiatric symptom          NaN
...           ...       ...  ...                          ...          ...
412697   99965822   9996582  ...          Metastatic neoplasm          NaN
412698   99979614   9997961  ...    Cardio-respiratory arrest          NaN
412699   99991303   9999130  ...                    Pneumonia          NaN
412700  999913117   9999131  ...         Basal cell carcinoma          NaN
412701   99994482   9999448  ...               Prostatomegaly          NaN

[412702 rows x 23 columns]

In [ ]:
reactdummies = pd.get_dummies(reactiondrug['pt']== 'Death')
reactdummies.head(20)

    False  True
0       1      0
1       1      0
2       1      0
3       1      0
4       1      0
5       1      0
6       1      0
7       1      0
8       1      0
9       1      0
10      1      0
11      1      0
12      1      0
13      1      0
14      1      0
15      1      0
16      1      0
17      1      0
18      1      0
19      1      0

In [ ]:
reactdummies = reactdummies.rename(columns={False: "NoDeath", True: "Death"})

In [ ]:
reactdummies

        NoDeath  Death
0             1      0
1             1      0
2             1      0
3             1      0
4             1      0
...         ...    ...
412697        1      0
412698        1      0
412699        1      0
412700        1      0
412701        1      0

[412702 rows x 2 columns]

In [ ]:
#DiedDummies = reaction[reaction['Death'] == 1]
DiedDummies

         primaryid    caseid     pt drug_rec_act  NoDeath  Death
1225     101557293  10155729  Death          NaN        0      1
1251     101582082  10158208  Death          NaN        0      1
2147     102258102  10225810  Death          NaN        0      1
2149     102267232  10226723  Death          NaN        0      1
2301     102384283  10238428  Death          NaN        0      1
...            ...       ...    ...          ...      ...    ...
1202242   94906072   9490607  Death          NaN        0      1
1203296   96477596   9647759  Death          NaN        0      1
1203794   97048163   9704816  Death          NaN        0      1
1204967   98172042   9817204  Death          NaN        0      1
1205454   98664264   9866426  Death          NaN        0      1

[17346 rows x 6 columns]

In [ ]:
drugreactdeath = pd.concat([reactiondrug, reactdummies], axis=1)
drugreactdeath

        primaryid  caseid_x  drug_seq  ... drug_rec_act NoDeath Death
0       100035813  10003581         1  ...          NaN       1     0
1       100048965  10004896         1  ...          NaN       1     0
2       100054258  10005425         1  ...          NaN       1     0
3       100058884  10005888         1  ...          NaN       1     0
4       100060834  10006083         1  ...          NaN       1     0
...           ...       ...       ...  ...          ...     ...   ...
412697   99965822   9996582         1  ...          NaN       1     0
412698   99979614   9997961         1  ...          NaN       1     0
412699   99991303   9999130         1  ...          NaN       1     0
412700  999913117   9999131         1  ...          NaN       1     0
412701   99994482   9999448         1  ...          NaN       1     0

[412702 rows x 25 columns]

In [ ]:
#perc = 50.0 
min_count =  int(((100-perc)/100)*demographic.shape[1] + 1)
mod_drugreact = drugreact.dropna( axis=0, 
                    thresh=min_count)

In [ ]:
mod_drugreact

           primaryid      caseid  ...                     pt drug_rec_act
0        100035813.0  10003581.0  ...   Blood count abnormal          NaN
16       100054258.0  10005425.0  ...                    NaN          NaN
19       100058884.0  10005888.0  ...                    NaN          NaN
43       100060834.0  10006083.0  ...                    NaN          NaN
58       100066292.0  10006629.0  ...  Drug hypersensitivity          NaN
...              ...         ...  ...                    ...          ...
1686437  999498740.0   9994987.0  ...                    NaN          NaN
1686440   99965822.0   9996582.0  ...                    NaN          NaN
1686442   99979614.0   9997961.0  ...                    NaN          NaN
1686446   99991303.0   9999130.0  ...                    NaN          NaN
1686458   99994482.0   9999448.0  ...                    NaN          NaN

[276684 rows x 24 columns]

In [ ]:
drugreactdeath = pd.concat([reactiondrug, reactdummies], axis=1)
drugreactdeath

        primaryid  caseid_x  drug_seq  ... drug_rec_act NoDeath Death
0       100035813  10003581         1  ...          NaN       1     0
1       100048965  10004896         1  ...          NaN       1     0
2       100054258  10005425         1  ...          NaN       1     0
3       100058884  10005888         1  ...          NaN       1     0
4       100060834  10006083         1  ...          NaN       1     0
...           ...       ...       ...  ...          ...     ...   ...
412697   99965822   9996582         1  ...          NaN       1     0
412698   99979614   9997961         1  ...          NaN       1     0
412699   99991303   9999130         1  ...          NaN       1     0
412700  999913117   9999131         1  ...          NaN       1     0
412701   99994482   9999448         1  ...          NaN       1     0

[412702 rows x 25 columns]

In [ ]:
DiedDummies = drugreactdeath[drugreactdeath['Death'] == 1]
DiedDummies

        primaryid  caseid_x  drug_seq  ... drug_rec_act NoDeath Death
150     101557293  10155729         1  ...          NaN       0     1
154     101582082  10158208         1  ...          NaN       0     1
234     102258102  10225810         1  ...          NaN       0     1
235     102267232  10226723         1  ...          NaN       0     1
253     102384283  10238428         1  ...          NaN       0     1
...           ...       ...       ...  ...          ...     ...   ...
412272   94906072   9490607         1  ...          NaN       0     1
412361   96477596   9647759         1  ...          NaN       0     1
412403   97048163   9704816         1  ...          NaN       0     1
412509   98172042   9817204         1  ...          NaN       0     1
412569   98664264   9866426         1  ...          NaN       0     1

[17346 rows x 25 columns]

In [ ]:
s = Counter(DiedDummies['drugname'])
s.most_common(5)
print ("",s.most_common(5))

 [('OPANA ER', 2639), ('EYLEA', 1437), ('PROLIA', 940), ('ARANESP', 704), ('REVLIMID', 428)]

In [ ]:
opana = drugreactdeath[drugreactdeath['drugname'] == 'OPANA ER']
opana

        primaryid  caseid_x  drug_seq  ... drug_rec_act NoDeath Death
12416   130511492  13051149         1  ...          NaN       1     0
12418   130512492  13051249         1  ...          NaN       1     0
85717   143480211  14348021         1  ...          NaN       1     0
89006   143515201  14351520         1  ...          NaN       1     0
89007   143515211  14351521         1  ...          NaN       1     0
...           ...       ...       ...  ...          ...     ...   ...
404918  146950751  14695075         1  ...          NaN       0     1
404919  146950761  14695076         1  ...          NaN       0     1
404920  146950771  14695077         1  ...          NaN       0     1
404921  146950781  14695078         1  ...          NaN       0     1
404922  146950791  14695079         1  ...          NaN       0     1

[11233 rows x 25 columns]